{% extends 'base.html.twig' %}

{% block title %}Changement du mot de passe
{% endblock %}

{% block content %}
	<h1>Changer le mot de passe de mon compte</h1>
	<p>{{ app.user.firstname }}
		vous allez pouvoir changer de mot de passe</p>
	<a href="{{path('account')}}">Revenir à mon compte</a>
	<hr/>
    {% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
	{{ form(form) }}
		<hr/>
		<br/>
		- Ajouter mes adresses
		<br/>
		- Mes commandes
	{% endblock %}
